# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Cc]MakeFiles/
x64/
x86/
[Oo]bj/

# Visual studio 2015/2017 cache/options directory
.vs/

# Files built by Visual Studio
*._i.c
*._p.c
*._h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.sbr
*.vspscc
*.vssscc

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensef
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb